.navbar {
	display: flex;
	align-items: center;
	gap: 25px;
    .navbarLinkLogo {
        display: flex;
        align-items: center;
        .navbarLogo {
            font-weight: 900;
            font-size: 30px;
        }
    }
}
